<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>725384032384-3ntf3f86etck6cngo46fbhci3gls1vsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725384032384-3ntf3f86etck6cngo46fbhci3gls1vsl</string>
	<key>API_KEY</key>
	<string>AIzaSyC7TmJwmO1fhiGcrYEYOqwHIeT4So164C8</string>
	<key>GCM_SENDER_ID</key>
	<string>725384032384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.beryukhov.fluber</string>
	<key>PROJECT_ID</key>
	<string>fluber-72ebe</string>
	<key>STORAGE_BUCKET</key>
	<string>fluber-72ebe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725384032384:ios:cb3b8fdc21fbc9e0</string>
	<key>DATABASE_URL</key>
	<string>https://fluber-72ebe.firebaseio.com</string>
</dict>
</plist>